// Fonts
@LS-font: 'Oswald', sans-serif;
@bodyfont: 'Roboto', sans-serif;

@font-one: 'Yellowtail', cursive;
@font-two: 'Molle', cursive;
@font-three: 'Pacifico', cursive;
@font-four: 'Poiret One', cursive;

// Colors
@black:  #2C322E;
@blue:   #2077EB;
@red:    #E93A3F;
@yellow: #F4C039;

// Media Queries
@hidpi: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";

@xs: ~"only screen and (max-width: 480px)";
@sm: ~"only screen and (min-width: 481px) and (max-width: 768px)";
@md: ~"only screen and (min-width: 769px) and (max-width: 992px)";
@lg: ~"only screen and (min-width: 1200px)";

body{
	font-family: @bodyfont;
	color: @black;
	background-color: white;
}

h1, h2, h3, h4, h5{
	font-family: @LS-font;
}

// used for page titles
h2{
	.unselectable(default);

	font-family: @font-two;

	text-align: center;
	text-transform: uppercase;

	font-size: 48px;
	font-weight: bold;

	//padding-left: 46px;
	margin-top:    20px;
	margin-bottom: 20px;

	@media @xs{
		font-size: 28px;
	}@media @sm{
		font-size: 36px;
	}
}
h5{
	font-size: 18px;
}

hr {
	border-top: 1px solid @yellow;
}

a{
	color: inherit;
	&:visited{
		color: inherit;
	}
}

footer{
	.unselectable(default);
	text-align: center;
	p.small{
		text-align: right;
		font-size: 8px;
	}
}

.jumbotron {
	.unselectable(pointer);

	font-family:    @LS-font;
	font-size:      32px;
	text-align:     center;

	padding-left: 30px;
	padding-right: 30px;

	color: @black;
	background-color: white;

	border-radius: 1px !important;

	#slogan{
		line-height: 1;
		padding-top: 5px;
		@media @xs, @sm {
			font-size: 18px;
		}
		@media @md{
			font-size: 24px;
		}
		@media @lg{
			font-size: 30px;
		}
	}

	// basically the size of the jtron
	padding-top:    15px;
	padding-bottom: 15px;

	margin-top: 15px;

	h1{
		margin-top:    10px;
		margin-bottom: 10px;
	}

	h2{
		font-family: @LS-font;
	}
}

#main-nav {
	.unselectable(pointer);
	font-family: @LS-font;
	font-size: 36px;

	width: 100%;
	display: table;

	@media @xs {
		font-size: 22px
	} @media @sm{
		font-size: 28px;
	}

	a{
		display: table-cell;
		text-align: center;
		text-decoration: none;
		border-radius: 1px !important;
	}
}

#news-page{
	h3{
		text-align: center;
	}
	h4{
		padding-left: 30px;
	}
	h5{
		margin-top: 0px;
		margin-bottom: 2px;
	}
	p{
		margin-left: 20px;
		margin-right: 20px;
	}
	#news-list{
		@media @sm, @md, @lg{
			@margin-left: 15px;
			@padding-right: 0px
		}
	}

	#shows-list, #shows-list{
		padding-left: 0px;
		padding-right: 0px;
	}

	.show-date{
		font-weight: bold;
		font-size: 15px;
		text-decoration: italic;
	}

	.show-location{
		font-weight: bold;
		font-size: 12px;
		&:first-of-type{
			font-size: 15px;
		}
	}

	.show-details{
		padding-top: 3px;
	}
	.show-location{
		margin-bottom: 0px;
	}
	.show-info p{
		margin-left: 0px;
		padding-left: 0px;
	}
	.news-item{
		margin: 15px 15px 15px 15px;
		padding: 8px 8px 8px 8px;
		border: 1px solid #DDD;
		border-radius: 2px;

	}
	.date{
		padding-top: 15px;
		font-size: 80%;
		text-align: right;
	}
}

.album-title{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.title{
		font-family: @LS-font;
		font-size: 20px;
		font-style: italic;
}

.page {
	margin-top: 30px;
}

.row{
	padding-bottom: 25px;
}

.thumbnail{
	padding-top: 0px;
}

#music-page{
	.album{
		padding-top: 0;
		border-radius: 1px;
		display: block;
		border: 1px solid #DDD;
		padding: 0px 20px 0px 20px;
		margin-bottom: 20px;
	}

	.album-cover{
		margin-right: auto;
		margin-left: auto;
		display: block;
		max-width: 100%;
		height: auto;
	}

	.title{
		padding: 4px 0px 4px 0px;
	}

	.verstial-album{
		vertical-align: center;
	}

	p.first-line{
		padding-top: 10px;
	}

	button{
		transition: all 0.5s ease;
		font-family: @LS-font;
		text-transform: uppercase;
		font-size: 22px;

		margin-top: 15px;
		margin-bottom: 15px;

		background-color: white;

		&.album-listen{
			color: white;
			background-color: @black;
			border: 1px solid @black;
		}

		&:hover{
			color: @yellow;
			background-color: black;
		}
	}

}

#bio-page{
	h3{
		font-size: 25px;
		padding-left: 10px;
	}

	hr{
		margin-left: 10vw;
		margin-right: 10vw;
		border-top: 1px solid #DDD;
	}
}

hr.small{
		margin-left: 5vw;
		margin-right: 5vw;
		border-top: 1px solid #BBB;
}


.hidden{
	display: none;
}

// Defining colored nav hovers
.nav-rand-hover-1{ .make-nav-colors(@yellow, @blue); }
.nav-rand-hover-2{ .make-nav-colors(@blue, @yellow); }
.nav-rand-hover-3{ .make-nav-colors(@yellow, @black); }
.nav-rand-hover-4{ .make-nav-colors(@black, @yellow); }
.nav-rand-hover-5{ .make-nav-colors(@red, @black); }
.nav-rand-hover-6{ .make-nav-colors(@black, @red); }
.nav-rand-hover-7{ .make-nav-colors(white, @black); }
.nav-rand-hover-8{ .make-nav-colors(white, @red); }
.nav-rand-hover-9{ .make-nav-colors(white, @blue); }

// HELPERS AND GENERATORS
.make-nav-colors(@fg-hov, @bg-hov){
	background-color: white;
	transition: all 0.5s ease;
	&:hover{
		color: @fg-hov;
		background-color: @bg-hov;
	}
	&.active{
		color: @fg-hov;
		background-color: @bg-hov;
	}
}

.make-header-colors(@bg){
	background-color: white;
	transition: all 0.5s ease;
	&:hover{
		color: @black
	}
}

.unselectable(@cursor: pointer){
	cursor: @cursor;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
