// Fonts
@LS-font: 'Oswald', sans-serif;
@bodyfont: 'Roboto', sans-serif;

// Colors
@black:  #2C322E;
@blue:   #2077EB;
@red:    #E93A3F;
@yellow: #F4C039;


// Media Queries
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

body{
	font-family: @bodyfont;
	color: @black;
	background-color: white;
}

h1, h2, h3, h4{
	font-family: @LS-font;
}

// used for page titles
h2{
	text-transform: uppercase;
	font-size: 34px;

	padding-left: 46px;

	margin-top:    20px;
	margin-bottom: 20px;
}

.jumbotron{
	.unselectable(default);

	font-family:    @LS-font;
	font-size:      32px;
	text-transform: uppercase;
	text-align:     center;

	color: @black;
	background-color: white;

	border-radius: 3px !important;

	// basically the size of the jtron
	padding-top:    15px;
	padding-bottom: 15px;

	margin-top: 15px;

	h1{
		margin: 0px;
	}
}

#main-nav {
	font-family: @LS-font;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;

	display:  table;
	width:    100%;
	overflow: hidden;

	list-style:   none;
	table-layout: fixed;

	padding: 0;
	margin:  0;

	li{
		.unselectable(pointer);
		cursor: pointer;
		display: table-cell;
		height: 25px;
		text-align: center;
		text-transform: uppercase;

		&:first-child{
			padding-left: 0
		}

		a{
			width: 100%;
			display: block;
			height: 100%;
			line-height: 25px;
			background-color: #e0e0f0;
			color: #021020;

			&:hover{
				background-color: #498cd5;
				color: #ddeeee;
			}
		}
	}
}

.page {
	margin-top: 30px;
}

.row{
	padding-bottom: 25px;
}

.thumbnail{
	border-radius: 1px;
}


// Defining colored nav hovers
.nav-rand-hover-1{
	.make-nav-colors(@yellow, @blue);
}
.nav-rand-hover-2{
	.make-nav-colors(@blue, @yellow);
}
.nav-rand-hover-3{
	.make-nav-colors(@yellow, @black);
}
.nav-rand-hover-4{
	.make-nav-colors(@black, @yellow);
}
.nav-rand-hover-5{
	.make-nav-colors(@red, @black);
}
.nav-rand-hover-6{
	.make-nav-colors(@black, @red);
}
.nav-rand-hover-7{
	.make-nav-colors(white, @black);
}
.nav-rand-hover-8{
	.make-nav-colors(white, @red);
}
.nav-rand-hover-9{
	.make-nav-colors(white, @blue);
}

// HELPERS AND GENERATORS
.make-nav-colors(@fg-hov, @bg-hov){
	background-color: white;
	transition: all 0.5s ease;
	&:hover{
		color: @fg-hov;
		background-color: @bg-hov;
	}

}

.unselectable(@cursor: pointer){
	cursor: @cursor;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
